<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.company.board.service.impl.BoardMapper">

<!-- 조회 -->
<!-- 조회되는 컬럼이 여러개이기때문에 vo,map 사용 -->	
	<select id="getBoardList" resultType="com.company.board.service.BoardVO">		
		SELECT * 
			FROM BOARD2
	</select>
	
<!-- 단건 -->
	<select id="getBoard" resultType="com.company.board.service.BoardVO"
		parameterType="com.company.board.service.BoardVO">	<!-- #{} 가 있으면 parameterType이 필요 -->
		SELECT * 
			FROM BOARD2 
			WHERE SEQ = #{seq}
	</select>
	
	
<!-- 입력 -->
	<insert id="insertBoard" parameterType="com.company.board.service.BoardVO">
		INSERT INTO BOARD2
		VALUES ( #{seq},#{title}, #{writer}, #{content}, #{filename} )
	</insert>
</mapper>